<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="views/style.css" />
    <title>SockTracker Register</title>
  </head>
  <header class="container">
    <div id=logoTop>
      <img src="views/mortyface.jpg" width="150px" height="auto" alt="uncle morty image" />
      <h1>Uh-oh!</h1>
      <h3>Something went wrong</h3>
    </div>
  </header>
  <body class="container">
    <p class="messageText">try again</p>
  </body>
</html>
