body {
  font-family: courier;
  background-color: #222222;
  color: lightgreen;
  min-height: 500px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

a {
  color: lightgreen;
}

img {
  float: left;
}

h1 {
  margin-top: 50px;
}

h2 {
  padding-bottom: 20px;
}

p {
  color: #d2f8d2;
}

footer {
  height: 50px;
  padding-bottom: 80px;
  padding-left: 10%;
  position: fixed;
  bottom: 0px;
  background-color: #222222;
}

button {
  background-color: #222222;
  color: lightgreen;
  font-size: 14px;
  margin-right: 10px;
  float: right;
}

button:focus {
  outline: none;
}

hr {
  border: 1px inset gray;
}

input {
  font-family: courier;
  background-color: #222222;
  color: lightgreen;
  font-size: 14px;
  margin: 20px;
  padding: 10px 15px;
}

input:hover {
  color: white;
}

form {
  margin-top: 40px;
}

ul {
  padding-left: 0;
  margin: 0 0;
}

li {
  font-size: 14px;
  padding: 10px 0;
  list-style: none;
}

.nav li{
  display: inline-block;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    color: #d2f8d2;
}
